*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .topPart input {
    background:#fff ;
    padding: 10px 15px;
    padding-right: 80px;
    border: 2px solid #eff1f3;
    border-radius: 5px;
}

#addUserBtn {
    background-color: #36d1f0;
    color: white;
    padding: 10px 15px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

